// $ligth-green: #9c27b0;
// $medium-green: #3f51b5;
// $dark-green: #673ab7;
$ligth-green: #7ed56f;
$medium-green: #55c57a;
$dark-green: #28b485;
$white: #fff;
$grey-text: #777;
$grey-text-2: #999;
$grey-text-4: #eee;
$grey-text-1: #f7f7f7;
$grey-text-3: #333;
$black-text: #000;
$font-size: 1.6rem;
$ligth-orange: #ffb900;
$medium-orange: #ff7730;

$ligth-blue: #2998ff;
$medium-blue: #5643fa;

// Grid

$grid-width: 114rem;
$grid-vertical: 8rem;
$grid-vertical-sm: 6rem;
$grid-horizontal: 6rem;
