.popup {
  height: 100vh;
  width: 100%;
  background: rgba($black-text, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 30500;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s;

  &:target {
    opacity: 1;
    visibility: visible;
  }

  &__close {
    &:link,
    &:visited {
      position: absolute;
      right: 4rem;
      font-size: 4rem;
      top: 3rem;
      color: $grey-text-2;
      display: inline-block;
      text-decoration: none;

      &:hover {
        color: $ligth-green;
      }
    }
  }

  &__content {
    width: 75%;
    background: $white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 3px;
    box-shadow: 0 3rem 4rem rgba($black-text, 0.15);
    display: table;
    overflow: hidden;
  }

  &__left {
    width: 33.333333%;
    display: table-cell;
  }

  &__right {
    width: 66.666667%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem;
  }

  &__img {
    display: block;
    width: 100%;
  }

  &__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid $grey-text-2;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
}
